.card-content {
  margin-top: 15px;
}

.card-title {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  margin-left: 20px;
}

.submit-buttons {
  float:right;
  margin-left: auto;
  width: fit-content;
}
