<mat-card class="login-card">
  <mat-card-header class="card-header">
    <mat-card-title>Sign in</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <form [formGroup]="form">
        <mat-form-field class="full-width-form">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" type="text">
        </mat-form-field>
        <br>
        <mat-form-field  class="full-width-form">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" (keyup.enter)="onEnterPressed()">
        </mat-form-field>
        @if (isLoginInvalid){
          <mat-error class="error-message">
            Wrong username or password.
            <br>
            If you requested an account recently, please wait until it is approved.
          </mat-error>
        }
    </form>
  </mat-card-content>
  <mat-card-actions class="card-action">
    <button class="login-button" mat-raised-button color="primary" [disabled]="form.invalid" (click)="onLogInClick()">Sign in</button>
    <br>
    <div class="sign-up-button">
      Don't have an account yet?
      <a href="/signup">Request now</a>
    </div>
  </mat-card-actions>
</mat-card>
