.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 15% auto;
}

.card-header {
  width: 80%;
  margin-bottom: 10px;

  .mat-mdc-card-title {
    font-size: 30px;
  }
}

.card-content {
  margin-top: 20px;
  width: 80%;
}

.card-action {
  width: 84%;

  .login-button {
    margin-bottom: 10px;
    width: 100%;
  }
}

.full-width-form {
  width: 100%;
}
