@if (showToolbar){
  <mat-toolbar>
    <img class="thinking" src="/assets/img/thinking.jpg" alt="image">
    <h2>I FORGOT AGAIN</h2>
    @if (isAuthenticated){
      <button class="sign-button" mat-button color="primary" (click)="onSignOutClick()"> Sign Out </button>
    }
    @else {
      <button class="sign-button" mat-button color="primary" (click)="onSignInClick()"> Sign In </button>
    }
  </mat-toolbar>
  <router-outlet></router-outlet>
}

@else if (showSidenav){
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
        <img src="/assets/img/thinking.jpg" alt="image" width="150px" style="margin-bottom: 10px;">
        <mat-list-item (click)="navigateTo('vault')">
          <mat-icon mat-list-icon>inventory_2</mat-icon>
          <span>Accounts</span>
        </mat-list-item>
        <mat-list-item (click)="onSignOutClick()">
          <mat-icon mat-list-icon>logout</mat-icon>
          <span>Sign Out</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
}

@else {
  <router-outlet></router-outlet>
}
