.card-header {
  width: 80%;
  margin-bottom: 10px;

  .mat-mdc-card-title {
    font-size: 30px;
  }
}

.card-content {
  margin-top: 20px;
  width: 80%;
}

.card-action {
  width: 84%;
  display: block;

  .login-button {
    margin-bottom: 10px;
    min-width: 100%;
  }

  .sign-up-button {
    margin-bottom: 10px;
    min-width: 100%;
    text-align: center;

    a {
      color:#3f51b5;
      font-weight: 500;
      text-decoration: none;
    }
  }
}

.full-width-form {
  width: 100%;
}

.signup-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 10% auto;
}
